


:root {
    --primary-text-color: #21212;
    --secondary-text-color: #757575;
    --prime-blu-color: #2196F3;
    --prime-white-color: #ffffff;
    --social-icon-color: #afb1b8;
}



  ul {
    margin-top: 0px;
    margin-bottom: 0px;
    list-style: none;
}


.page {
    background-color: #ffffff;
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

/* Логотип */

.logo{


    color: black;
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}


.color{ 
    color: var(--prime-blu-color);
    
}

.color-end{
    color: var(--prime-white-color);
    
}
.container{
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;

}

.top {
    display: flex;
    height: 80px;
    align-items: center;
}

.container .top + .top {
    margin-left: 148px;
}

.blocks {
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 94px;
    justify-content: center;
}
/* менюшка */

.nav{
    display: flex;
    margin-left: 148px;
    padding-left: 0;
    align-items: flex-end;
}

.first {
    margin-left: 45px;
    margin-right: 50px;
    
}

.nav-nav {
    position: relative;
    margin-top: 0px;
    padding-bottom: 32px;
    text-decoration: none;
}

.nav-nav .first{

    margin-left: 50px;
    margin-right: 45px;
}
.nav .nav-nav {
    
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.nav .nav-nav:hover,
.nav .nav-nav:focus {
    color: var(--prime-blu-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav .nav-nav.current {
    color: var(--prime-blu-color);
}

.current::after{
    content: '';
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    bottom: 1px;
    right: 50%;
    transform: translate(50%);
    background-color: var(--prime-blu-color);
}

.auth {
    display: flex;
    align-items: center;
    margin-left: 148px;
    padding-left: 0;
    
}
.auth-nav {
    margin-left: 10px;
    padding-bottom: 32px;
    text-decoration: none;
}
.auth .auth-nav{

    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    }
.auth .auth-nav:hover, 
.auth .auth-nav:focus{
    
    color: var(--prime-blu-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.telephone{
    display: block;
    margin-left: 30px;
    
}

.telephone:hover{
    color: var(--prime-blu-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-icon {
    width: 16px;
    height: 11.2px;
    
    fill: var(--secondary-text-color)
    
}
.auth-icon:hover {
    fill: var(--prime-blu-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}





.hero {
    
    max-width: 1600px;
    height: 600px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: 
    linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
    url(../image/Header\ img.jpg);
    background-size: cover;
    
    text-align: center;
}

.hero-title {
    margin-top: 0px;
    margin-bottom: 46px;
    margin-left: auto;
    margin-right: auto;
    

    width: 696px;
    height: 120px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    color: var(--prime-white-color);
    
    letter-spacing: 0.06em;
    font-style: normal;
}

.one{
   margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}


.button{

    display: inline-block;
    padding: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
    min-width: 200px;
   

    border-radius: 4px;
    border: none;
    outline: none;
    color: var(--prime-white-color);
    background-color: var(--prime-blu-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}
.button-bottom{

  
    padding-left: 29px;
    padding-right: 62px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    min-width: 200px;
    min-height: 50px;
    

    border-radius: 4px;
    color: var(--prime-white-color);
    background-color: var(--prime-blu-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    text-decoration: none;
}

.footer-send{
    display: inline-flex;
}

.footer-text-icon{
    
    display: inline-flex;
    
}
.footer-text-web{
    
    /* width: 24px;
    height: 24px; */
    position: absolute;
    margin-left: 148px;
    margin-top: 13px;
    margin-bottom: 13px;
    background-size: contain;


}

ul {
    list-style: none;
}

.decision {
    
    display: flex;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 0;
    justify-content: center;
}

.decision-info{
    display: block;
    width: 270px;
    height: 251px;}

.decision-icon {
    width: 70px;
    height: 70px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon {
    display: block;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
}


.decision-info + .decision-info {
    margin-left: 30px;
}

.section {
    
    margin-top: 94px;
    
}

.section-list {
    display: block;
    margin-top: 10px;
    margin-bottom: 0px;
    width: 270px;

    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.71;
}
.section-art {
    
    padding-bottom: 94px;
}

.section .section-title {
    
    color: var(--primary-text-color);
}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    padding-top: 94px;

font-weight: 700;
font-size: 36px;
line-height: 1.67;
text-align: center;
}

.section-tit {
    margin-top: 30px;
    margin-bottom: 0px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}
.works {
    position: relative;
    margin-left: 0;
    margin-top: 0;
}

.works-image{
    position: relative;
}
.works-title{
    display: flex;
     position: absolute;
     bottom: 24px;
     right: 50%;
     transform: translate(50%)
    
    
}

.works + .works {
    justify-content: center;
    margin-left: 30px;
}

.works-color{
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
    background: rgba(47, 48, 58, 0.8);
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    color: var(--prime-white-color);
}
/* .image {
background-color: var(--prime-blu-color);
} */

.section-team {
    max-width: 1600px;
    height: 702px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 94px;
    background: #F5F4FA;
    
    
}
.team {
    display: flex;
    padding-left: 0;
}

.team-all + .team-all {
    margin-left: 30px;
}

.team-all {
    margin-left: 15px;
    background-color: #fff;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}
.section-work{
    margin-top: 10px;
    margin-bottom: 0px;

    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.section-name{
    margin-top: 30px;
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.name {
   

    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    color: rgba(255, 255, 255, 0.4);
}

.links{
display: flex;
margin-top: 16px;
margin-bottom: 24px;
flex-direction: row;
align-items: center;
justify-content: center;

text-decoration: none;
}

.image{
    
    text-align: center;
    padding: 0;
    border: none;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.image:hover {
    background-color: var(--prime-blu-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.image + .image {
    margin-left: 10px;
}

.web-icon{
    padding: 12px;
    background-position: center;
    align-items: center;
    fill: var(--social-icon-color);
}

.web-icon:hover {
    fill: var(--prime-white-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
    display: flex;
    padding-left: 0;
}
.clients-logo {
    width: 170px;
    height: 90px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    }

.clients-icon {

    background-position: right;

}
.clients-logo + .clients-logo {
    margin-left: 30px;
}
.sign {
    margin-top: 10px;
    margin-bottom: 0;
    color: var(--prime-white-color);
}
.sign-nav {
    display: block; 
    margin-top: 10px;
    text-decoration: none;

    
    color: rgba(255, 255, 255, 0.6);
}

.down-bottom {
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;

    background-color: #2F303A;
}

.down{
    display: flex;
    justify-content: space-between;

    background-color: #2F303A;
}

.down-info {
    padding-top: 48px;
    padding-bottom: 88px;
    
}

.footer-text {
    margin-top: 56px;
    color: var(--prime-white-color);
}

.footer-info {
    display: block;
    padding-left: 0;


}

.image-footer{
    display: flex;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    background-position: center;
    margin-top: 21px;
    padding: 0;
    border: none;
    width: 44px;
    height: 44px;
    border-radius: 50%;display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.image-footer:hover {
        background-color: var(--prime-blu-color);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
.image-footer + .image-footer {
        margin-left: 10px;
    }
    
.web-icon-footer{
        
        fill: var(--prime-white-color);
    }
    
.web-icon-footer:hover {
        fill: var(--prime-white-color);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.footer-text-input {
    width: 358px;
    height: 50px;

    margin-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: #2F303A;

    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);

}
.footer-text-input:focus {
    outline:  none;
}







    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
      }
      
      .backdrop.is-hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
      }
      
      .modal {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      
        min-height: 300px;
        min-width: 400px;
        padding: 40px;
        width: 528px;
        height: 581px;
      
        background: #FFFFFF;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
      }

      .form {
          position: relative;
        
      }

      .form-text{
        
        width: 448px;
        height: 23px;
        left: 576px;
        top: 261px;
        
        
        padding-bottom: 30px;
        


        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.03em;

        color: var(--primary-text-color);


      }

      .form-field{
          position: relative;
          margin-bottom: 28px;
          
      }

      .form-input {
        position: relative; 
          
        width: 448px;
        height: 40px;
        
        padding-left: 42px;

        border: 1px solid rgba(33, 33, 33, 0.2);
        
        border-radius: 4px; 

        }
    .form-icon {
        position: absolute;
        top: 50%;
        left: 19px;
        transform: translateY(-50%);
        fill: var(--secondary-text-color);
    }

   
      
      .form-label{
          position: absolute;
          
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          margin-left: 42px;
          transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
          color: var(--secondary-text-color);
        
      }
      .form-input:focus,
      .form-input:hover {
        border: 1px solid var(--prime-blu-color);
        outline: none;
      }

      .form-input:focus + .form-label,
      .form-input:not(:placeholder-shown) + .form-label{
          color: var(--prime-blu-color);
          top: -10px;
          left: -26px;
          
      }

      .form-input:focus + .form-icon,
      .form-input:not(:placeholder-shown) + .form-icon{
          fill: var(--prime-blu-color);
          
          
      }
      .form-input:hover + .form-label {
        color: var(--prime-blu-color);
        top: -10px;
        left: -26px;
        
    }

    .last {
        display: block;
    }


    .form-textarea {
        width: 448px;
        height: 120px;
        outline: none;
        border: 1px solid rgba(33, 33, 33, 0.2);
        
        border-radius: 4px;

        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 16px;
        padding-right: 16px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.01em;
        resize: none;
    }
    .form-textarea:focus,
      .form-textarea:hover {
        border: 1px solid var(--prime-blu-color);
      }

      .policy {
       display: flex;
       align-items: center;
       justify-content: center;
       margin-top: 20px;
       
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--secondary-text-color);
    }

    .policy-label {
        display: inline-flex;
    }
      .checkbox{
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }

       .checkbox-icon{   
            
            
            
            margin-right: 8px;
           
            width: 15px;
            height: 15px;
            background: var(--prime-white-color);
            
            border-radius: 2px;
            border: 2px solid #212121;

      }
      .checkbox:checked + .checkbox-icon {
        background-color: var(--prime-blu-color);
        background-image: url('../image/iconcheck.svg');
        background-size: contain;
        background-origin: border-box;
        border-color: var(--prime-blu-color);
        border-radius: 2px;

      }
    .doc {
        margin-left: 2px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        color: var(--prime-blu-color);
        text-decoration: none;

        letter-spacing: 0.03em;
    }
    .doc::after{
        content: '';
        display: block;
        height: 0.3px;
        background-color: var(--prime-blu-color);
    }

    .send {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        padding-left: 56px;
        padding-right: 55px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 200px;
        height: 50px;
    
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        outline: none;
        color: var(--prime-white-color);
        background-color: var(--prime-blu-color);

        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em; 

    }
.close-button {
position: relative;
width: 30px;
    height: 30px;
}

.close {
    position: absolute;
    top: -9px;
    right: -9px;

    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;

    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    background-color: #fff;
    outline: none;
    border: none;
}
.close-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 11px;
    
    fill: black;
    
    
}




/* Портфолио */

.filters {
    display: flex;
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    
}

.filters-button-text{
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;

    background: #F5F4FA;
    border-radius: 4px;
    border: none;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
}
.filters-button-text:hover{
    background-color: var(--prime-blu-color);
    color: var(--prime-white-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters-button + .filters-button{
    margin-left: 8px;
}
.filters + .filters {
    
}

.feathers {
display: flex;  
flex-wrap: wrap; 
width: 1230px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
margin-bottom: 94px;

text-decoration: none;


}

.feathers-work{
    position: relative;
    
width: 380px;
margin-right: 30px;
border: 1px solid #EEEEEE;
    
text-decoration: none;
}

.feathers-work:hover {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feathers-work:nth-child(3n) {
margin-right: 0;
}

.feathers-work:nth-child(-n + 3) {
    margin-top: 34px;
    }

.feathers-work:nth-child(n + 4) {
margin-top: 30px;
}

.feathers-work-tab{
    
    display: block;
    position: relative;
    text-decoration: none;
}

.feathers-work-tab:hover .fonts::before{
    transform: translateY(0);
}




.info {
    margin-top: 20px;
    padding-left: 24px;
    padding-right: 24px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-decoration: none;
    color: #212121;
}

.info-main {
    margin-top: 4px;
    padding-left: 24px;
    padding-right: 24px;

    font-size: 16px;
    line-height: 1.87;
    text-decoration: none;
    color: #212121;
}

.info-text {
    overflow: hidden;
    display: block;
    position: relative;
    
}
.information{
    
    
    position: absolute;
    top: 10%;
    left: 8%;
    right: 8%;
}
.text-one {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.56;
    color: var(--prime-white-color);
    opacity: 0;
    transform: translateY(100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.interactive {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
    transform: translateY(100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feathers-work:hover .interactive{
    opacity: 1;
    transform: translateY(0);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feathers-work:hover .text-one{
    opacity: 1;
    transform: translateY(0);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}






/* основной цвет заголовков  color: #212121;*/
/* цвет текста color: #757575; */
/* акцкет #2196F3  */
/* вторичный цвет color: rgba(255, 255, 255, 0.4); */
/* вторичный цвет фона #F5F4FA */